$font-color:#fff;
$primary-color:#ff7f00;
.background{
    background: url(../../../images/bg.jpg) no-repeat top right;
    background-size: cover;
    min-height: 100vh;
    padding: 50px 20px;
    .logo-container{
        width: 150px;
        display: flex;
        margin: 0 auto;
        img{
            width: 60%;
            margin: 0 auto;
        }
    }
    .text-container{
        padding: 30px 20px;
        h2{
            font-size: 30px;
            color:$font-color;
        }
        h4{
            font-size: 16px;
            color:$font-color;
            text-align: center;
            font-weight: 400;
        }
    }
    
}
.info-container{
    margin: 30px 0 30px;
    border-bottom: 1px solid $primary-color;
    padding: 15px 10px;
    flex-direction: row;
    h2{
        justify-content: start;
        font-size: 24px;
        color:#222;
        display: inline-flex;
    }
    .btn-container{
        float: right;
        display: inline-flex;
        .btn-fetch{
            background-color: $primary-color;
            border:none;
            padding: 8px 12px;
            color:white;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            border-radius: 5px;
            cursor: pointer;
            &:active,&:focus,&:visited{
                background-color: $primary-color;
                box-shadow: none;
            }
        }
    }
}
.text{
    font-size: 14px;
    color:#222;
}
@media only screen and (max-width: 991px){
    .background{
        min-height: 0;
        padding-bottom: 180px;
    }
}
@media only screen and (max-width: 768px){
    .background{
        .logo-container{
            img{
                width: 50%;
            }
        }
    }
}
@media only screen and (max-width: 510px){
    .background{
        .logo-container{
            img{
                width: 40%;
            }
        }
    }
}